<div
  class="big_card_box"
  (tap)="onSelectSong()"
  [ngStyle]="{ 'box-shadow': itemDisplayStyle }"
>
  <div class="image_box">
    <img [src]="topSongListItem.albumPic" />
  </div>
  <div class="title_text_box">
    <p class="name">{{ topSongListItem.songName }}</p>
    <p><span class="text_name">歌手</span>- {{ singers }}</p>
    <p>
      <span class="text_name">{{
        topSongListItem.durationTime | formatDate
      }}</span>
    </p>
    <div *ngIf="topSongListItem.rank < 4" class="top_number">
      {{ topSongListItem.rank }}
    </div>
  </div>
</div>
