$s8px: 0.4rem;
$s10px: 0.6rem;
$s12px: 0.8rem;
$s14px: 1rem;
$s16px: 1.2rem;
$s18px: 1.4rem;
$s20px: 1.6rem;
$s22px: 1.8rem;
$s24px: 2rem;
$s26px: 2.2rem;
$s30px: 2.6rem;
$s32px: 2.8rem;
$s34px: 3rem;
$s36px: 3.2rem;
$s40px: 3.6rem;

$main_color: #31c27c;
$black_color: #1f1f1f;
$gray: rgba(0, 0, 0, 0.6);
$bg_color: #fafafa;
$white_color: #ffffff;
$red_color: #ff400b;
