<!-- <div class="search_box">
  <div class="search">
    <div class="icon_search"></div>
    <form action="javascript:return true">
      <input type="text" placeholder="搜索歌曲、歌单、专辑" />
    </form>
    <span class="icon_delete">删除</span>
  </div>
  <div class="cancel">取消</div>
</div> -->
<!-- <form action="" id="myform">
  <input type="search" id="input" value="" placeholder="快速搜索" results="5" />
  </form> -->
<!-- <div class="container">
  <form action="" class="parent">
    <input type="text" class="search" placeholder="搜索" />
    <input type="button" name="" id="" class="btn" />
  </form>
</div> -->

<!-- <nz-input-group [nzSuffix]="suffixIconSearch">
  <input type="text" nz-input placeholder="input search text" />
</nz-input-group> -->

<!-- <input type="text" [(ngModel)]="value" >
<button (tap)="search()">ggggggggggggg </button> -->
<div class="search_box">
  <div
    style="z-index: 100; display: flex; flex-direction: column; align-items: center"
  >
    <app-search-input
      (search)="search($event)"
      style="width: 90%;"
    ></app-search-input>
  </div>

  <div class="container-scroll">
    <app-scroll
      [pullUpLoad]="pullUpLoad"
      [update]="update"
      (pullingUp)="pullingUp()"
    >
      <div [ngStyle]="{ 'padding-bottom': miniPlayer ? '3.4rem' : 0 }">
        <div class="content_box">
          <ng-container *ngFor="let item of songList; let i = index">
            <app-list-item
              [isShowRank]="isShowRank"
              [topSongListItem]="item"
              (selectSong)="handleSelectSong($event)"
            ></app-list-item>
          </ng-container>
        </div>
      </div>
    </app-scroll>
  </div>
</div>
